<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Simple Sort Drag and Drop - 4X Technical Style Guide</title>
    <meta name="description" content="Scalable ARIA Components">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../_common/css/components-style.css">
    <link rel="stylesheet" type="text/css" href="css/customize.css">
    <script src="/4X/4X.js"></script>
    <script src="js/setup.js"></script>
</head>

<body>
    <div class="bypass">
        <ul class="list-unstyled">
            <li>
                <a class="skip--link" href="javascript:void(0);" onclick="document.getElementById('main').focus();">
                    Skip to Main Content
                </a>
            </li>
        </ul>
    </div>
    <div class="outer-wrapper">
        <header class="header flex-container">
            <div class="logo flex-item">
                <a href="https://whatsock.com">
                    <img alt="WhatSock : Changing the world one step at a time" src="../../_common/img/whatsock.svg"></a>
            </div>
            <div class="site-name flex-item">
                <strong>Apex 4X</strong> Technical Style Guide
            </div>
        </header>
        <div class="wrapper">
            <div class="left-aside">
                <nav>
                    <p><a href="/Tutorials/Beginner-Introduction.htm">Beginner Tutorial</a></p>
                    <h2>Template Examples</h2>
                    <ul>
                        <li><a href="../../index.htm">Back to Components</a></li>
                        <li><a href="../index.htm">Back to Parent Widget</a></li>
                        <li><a href="../Copy/index.htm">Copy</a></li>
                        <li><a href="../Move/index.htm">Move</a></li>
                        <li><a href="../Simple/index.htm">Simple</a></li>
                        <li><a href="../Sort/index.htm" aria-current="page">Sort</a></li>
                    </ul>
                </nav>
            </div>
            <main id="main" class="main" tabindex="-1">
                <div class="demo-block flex-container">
                    <div class="component flex-item">
                        <h1 class="pageTitle">Simple Sort Drag and Drop</h1>
                        <section class="sample-block">

                            <div class="demo-block">
                                <div class="booksWrapper">
                                    <div role="region" aria-label="Books" class="availableBooks">
                                        <h3>Books</h3>
                                        <div data-dropname="Bookshelf" class="drop-list" id="options">
                                            <div class="book"><img data-label="Fierce Invalids Home From Hot Climates by Tom Robbins" data-price="10.90" src="img/FierceInvalidsHomeFromHotClimates.jpg" alt="Fierce Invalids Home From Hot Climates by Tom Robbins ($10.90)" title="Fierce Invalids Home From Hot Climates by Tom Robbins ($10.90)" /></div>
                                            <div class="book"><img data-label="Neuromancer by William Gibson" data-price="12.50" src="img/Neuromancer.jpg" alt="Neuromancer by William Gibson ($12.50)" title="Neuromancer by William Gibson ($12.50)" /></div>
                                            <div class="book"><img data-label="Snow Crash by Neal Stevenson" data-price="14.44" src="img/SnowCrash.jpg" alt="Snow Crash by Neal Stevenson ($14.44)" title="Snow Crash by Neal Stevenson ($14.44)" /></div>
                                            <div class="book"><img data-label="Altered Carbon by Richard K. Morgan" data-price="15.40" src="img/AlteredCarbon.jpg" alt="Altered Carbon by Richard K. Morgan ($15.40)" title="Altered Carbon by Richard K. Morgan ($15.40)" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="keyboard flex-item">
                        <h2>The drag and drop functionality is optimized for screen reader and keyboard only users:</h2>

                    </div>
                </div>

            </main>
        </div>
        <footer class="footer">
            <div class="flex-container-row">
                <div class="flex-item">
                    <h2>License</h2>
                    <p>
                        Apex 4X including all template design patterns is distributed under the terms of the Open Source Initiative OSI - MIT License, and may be freely used for any purpose within any web technology.
                    </p>
                </div>
                <div class="flex-item">
                    <h2>Resources</h2>
                    <ul>
                        <li>
                            <a target="ext" href="https://github.com/WhatSock/apex">Apex 4X on GitHub</a>
                        </li>
                        <li>
                            <a target="ext" href="https://whatsock.github.io/visual-aria/github-bookmarklet/visual-aria.htm">Visual ARIA Bookmarklet</a>
                        </li>
                        <li>
                            <a target="ext" href="https://chrome.google.com/webstore/detail/visual-aria/lhbmajchkkmakajkjenkchhnhbadmhmk">Visual ARIA Chrome Extension</a>
                        </li>
                        <li>
                            <a target="ext" href="https://addons.mozilla.org/en-US/firefox/addon/visual-aria/">Visual ARIA Firefox Extension</a>
                        </li>
                        <li>
                            <a target="ext" href="https://github.com/AccDC/visual-aria">Visual ARIA on GitHub</a>
                        </li>
                        <li>
                            <a target="ext" href="https://whatsock.com/training/matrices/">ARIA Role Conformance Matrices</a>
                        </li>
                        <li>
                            <a target="ext" href="https://whatsock.com/training/">Accessibility Tree Training Guide</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-item">
                    <h2>Acknowledgements</h2>
                    <ul class="list--horizontal">
                        <li>
                            Author and developer:
                            <a target="ext" href="https://www.linkedin.com/in/bgaraventa">Bryan Garaventa</a>
                        </li>
                        <li>
                            Website designer:
                            <a target="ext" href="https://gericci.me/">Angela Ricci</a>
                        </li>
                        <li>
                            Style and markup editor:
                            <a target="ext" href="https://www.linkedin.com/in/laurence-lewis-77520365/">Laurence Lewis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

<script async src="https://api.whatsock.com/accdc-updates.js?4x=template"></script>

</html>