/* Specific styles for ARIA Combobox */
/***Overwrite the auto positioning***/
div.toplevel-div {
  left: auto !important;
  right: 2.5em !important;
  top: 5em !important;
  width: 14.5em;
  min-width: 8em;
}
@media (min-width: 37.6em) {
  div.toplevel-div {
    left: auto !important;
    right: 2.5em !important;
    top: 2.8em !important;
  }
}
