/* Specific styles for ARIA Combobox */
/***Overwrite the auto positioning***/

/*div.toplevel-div {
    left: 7em !important;
    top: 6em!important;
    width: 17em;
}*/

div.toplevel-div {
  left: auto !important;
  right: 2.6em !important;
  top: 5.1em !important;
  width: 14.5em;
  min-width: 8em;
}
@media (min-width: 32.8em) {
  div.toplevel-div {
    left: auto !important;
    right: 2.6em !important;
    top: 2.9em !important;
  }
}
