/* --------------------------------------------------------------------------- */
/* ---------------------------------- FORMS ---------------------------------- */
/* --------------------------------------------------------------------------- */

/* For Fastclick: Disable certain interactions on touch devices 
  Laurence: I have no idea what this actually does never seen it before.

Non-standard
This feature is non-standard and is not on a standards track. Do not use it on production sites facing the Web: it will not work for every user. There may also be large incompatibilities between implementations and the behavior may change in the future.

/* Keyword values */
/*-webkit-touch-callout: default;
-webkit-touch-callout: none;*/

/* Global values */
/*-webkit-touch-callout: initial;
-webkit-touch-callout: inherit;
-webkit-touch-callout: unset;*/

/*https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout*/

body {
  /* -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

form p + p {
  margin-top: 1em;
}

fieldset {
  margin-bottom: 2em;
  position: relative;
}

legend {
  font-family: frutiger, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}

label {
  font-weight: 700;
  margin-right: 0.5em;
  padding-bottom: 0.1em;
}

input {
  border: 1px solid var(--inputBorder);
  border-radius: 2px;
  font-size: 100%;
  padding: 0.5em 1em;
}

input[placeholder] {
  font-size: 0.85rem;
}

.mandatory-info {
  text-align: right;
}

.buttons-bar {
  text-align: center;
  margin: 2em 0 0;
}

.buttons-bar input {
  margin: 0 0.5em;
}

.buttons-bar button {
  text-transform: uppercase;
  color: var(--globalWhite);
  background: var(--buttons-bar);
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  transition: border-radius;
  -webkit-transition: border-radius;
}

input[type="submit"],
input[type="reset"] {
  text-transform: uppercase;
  color: var(--globalWhite);
  background: var(--datepicker-darkGrey);
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

input[type="reset"] {
  color: var(--globalWhite);
  background: var(--resetBackground);
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  color: var(--globalWhite);
  background: var(--buttons-bar);
  box-shadow: none;
}

input[type="submit"]:focus {
  background: var(--mediumOrange);
}

/*********************************
  Listbox
*********************************/
.sample {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
}
/*********************************
  Popups
*********************************/
.container--popup {
  padding: 0.25em;
}

.container--popup .popupClose {
  background: transparent;
  border: none;
  position: absolute;
  right: 0.25em;
  top: 0.5em;
}
/*********************************
  Laurence: arrow key navigation date pickers #keyboardHint
*********************************/
.keyboard ul li {
  line-height: 1.8;
}

kbd {
  background-color: var(--offWhite);
  border: 1px solid var(--datepicker-lightGrey);
  border-radius: 3px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px var(--globalWhite) inset;
  color: var(--listbox-darkGrey);
  display: inline-block;
  margin: 0 0.1em;
  padding: 0 0.5em;
  text-shadow: 0 1px 0 var(--globalWhite);
  white-space: nowrap;
}

kbd[class]::before {
  display: inline-block;
  line-height: 1;
  padding: 0 0.3em 0.2em;
  margin-right: 0.5em;
  border: 2px solid var(--elementBlack);
  border-radius: 2px;
  vertical-align: top;
}

kbd.left::before {
  content: "\2190";
}

kbd.right::before {
  content: "\2192";
}

kbd.up::before {
  content: "\2191";
}

kbd.down::before {
  content: "\2193";
}

kbd.home::before {
  content: "\21E4";
}

kbd.end::before {
  content: "\21E5";
}

kbd.esc::before {
  content: "\238B";
}

kbd#keyboardHint {
  background: none;
  border: none;
  box-shadow: none;
  position: absolute;
  right: -2.3em;
  top: 0.6em;
}

button.esc-button {
  position: relative;
  text-transform: uppercase;
  background: var(--globalWhite);
  font-weight: 700;
  padding: 0.3em;
  border: none;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  -moz-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  width: 5em;
  margin-top: 0.25em;
}

button.esc-button:focus {
  border: 2px solid var(--whatsock-contrast-red);
}

div.description {
  border: 2px solid var(--whatsock-blue);
  border-radius: 0.5em;
  margin-bottom: 3em;
  padding: 0.5em;
}

div.description p {
  margin-bottom: 0.5em;
}

div.description code {
  color: var(--bodyText);
  background: var(--datepicker-codeBGrey);
  display: block;
  font-size: 0.875rem;
  padding: 0.5em;
}
/*********************************
  Buttons Native
*********************************/
/*Red button for select languages*/

span.aria-combobox {
  display: inline-block;
  line-height: 1.6em;
  color: var(--globalWhite);
  background: var(--whatsock-red) url(../img/sprite.svg) right -1686px no-repeat;
  padding: 0.3em 25px 0.3em 0.5em;
  margin-right: 2em;
  border-radius: 0.3em;
}

button[type="reset"],
button[type="button"],
button.btn--set--alert {
  text-transform: uppercase;
  color: var(--globalWhite);
  background: var(--datepicker-darkGrey);
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  padding: 0.5em 1em;
  margin: 1em 0.5em 0;
}

button[type="reset"]:hover,
button[type="button"]:hover,
button.btn--set--alert:hover,
button[type="reset"]:focus,
button[type="button"]:focus,
button.btn--set--alert:hover {
  color: var(--globalWhite);
  background: var(--buttons-bar);
  box-shadow: none;
}