<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ARIA Popups - Apex 4X Technical Style Guide</title>
    <meta name="description" content="Scalable ARIA Components">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../_common/_doc_files/css/global.css">
</head>

<body>
    <div class="outer-wrapper">
        <header class="header">
            <div class="logo">
                <a href="http://whatsock.com">
                    <img alt="WhatSock : Changing the world one step at a time" src="/Templates/_common/_doc_files/img/whatsock.svg">
                </a>
            </div>
        </header>
        <div class="wrapper">
            <main id="main" class="main">
                <h1><strong>Apex 4X</strong> Technical Style Guide</h1>
                <nav>
                    <ul>
                        <li><a href="../index.htm">Components</a></li>
                        <li><a href="External/index.htm">External</a></li>
                        <li><a href="External - Straylight/index.htm">External - Straylight</a></li>
                        <li><a href="Internal/index.htm">Internal</a></li>
                        <li><a href="Internal - Alert/index.htm">Internal - Alert</a></li>
                        <li><a href="Internal - Straylight/index.htm">Internal - Straylight</a></li>
                    </ul>
                </nav>
            </main>
        </div>
        <footer class="footer">
            <p class="copyright">&copy;<script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> WhatSock. All rights reserved.</p>
            <p>Visual design by <a href="http://gericci.me/">Angela Ricci</a>. Styling updated by Laurence Lewis October 2020</p>
        </footer>
    </div>
</body>

</html>