/* Specific styles for ARIA Menus */

@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);

p.root {
  position: relative;
}

#titleId {
  position: absolute;
  width: 4.5em;
  top: 2rem;
  left: 1.5rem;
  font-family: "Patrick Hand", cursive;
  color: #fff;
}

div[role="textbox"].blackboard {
  cursor: pointer;
  width: 70%;
  min-height: 200px;
  overflow-y: auto;
  background: #213538;
  margin-bottom: 1rem;
  border: 10px solid #000;
  box-shadow: 0 5px 3px #777;
}

button {
  border: 1px solid #d0d0d0;
}

ul.top.menu {
  background: #2e3135;
  margin: 2em 0 0;
  margin-top: -200px;
}

ul.top.menu > li {
  text-transform: uppercase;
}

ul.top.menu > li li {
  font-size: 100%;
}

ul.menu {
  width: 10em;
  list-style: none;
  margin-left: 11em;
}

ul.top.menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #2e3135;
  padding: 0.3em 0.8em;
}

ul.top.menu a.has-submenu {
  color: #fff;
  background: #2e3135 url(../img/sprite.svg) right -288px no-repeat;
  padding: 0.3em 36px 0.3em 0.8em;
}

ul.top.menu a:focus,
ul.top.menu a:hover,
ul.top.menu a.has-submenu:hover,
ul.top.menu a.has-submenu:focus {
  color: #fff;
  background-color: #c13836;
}

ul.top.menu a.has-submenu {
  background: #2e3135 url(../img/sprite.svg) right -288px no-repeat;
  padding: 0.3em 36px 0.3em 0.8em;
}

a[aria-disabled="true"] {
  color: #ccc;
  background: #bdbdbd;
  cursor: auto;
}

body {
  height: 500px;
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press */
}
