/* Specific styles for Accessible Radios */

[role="radio"] {
  display: block;
  position: relative;
  margin: 0.5em;
  padding-left: 20px;
  cursor: pointer;
}
[role="radio"]::before {
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  /*border: 2px solid var(--combobox-red);*/
  background: #fff;
  top: 5px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px rgb(193 56 77), inset 0 0 0 0px rgb(193 56 77 / 0%);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

[role="radio"]::before,
[role="radio"]::after {
  display: block;
  position: absolute;
  border-radius: 50%;
  content: "";
}
[role="radio"][aria-checked="true"]::before {
  border-color: #fff;
  box-shadow: 0 0 0 2px rgb(34 139 236), inset 0 0 0 6px rgb(193 56 77);
}
