/*--------------------------------------------------------------------
         CSS by Laurence Lewis October 2020
-------------------------------------------------------------------- */

nav {
  margin: auto;
  max-width: 40em;
  padding: 0 1em;
  text-align: center;
}
nav > ul {
  list-style: none;
}
nav > ul > li {
  font-family: Frutiger, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {
  background-color: #444a51;
  display: block;

  text-transform: uppercase;
  color: #fff;
  padding: 0.5em;
  border: none;
  border-top: 1px solid #ccc;
}
nav > ul > li > a:hover {
  color: #fff;
  background: #c13836;
  text-decoration: none;
}
nav > ul > li > a:focus {
  color: #fff;
  background: #c13836;
  text-decoration: none;
}
nav > ul > li > a[aria-current="page"] {
  color: #fff;
  background: #c13836;
}
@media (min-width: 87.5em) {
  nav {
    margin: 0.5em 0;
    max-width: 20em;
    padding: 0;
  }
}
