body {
  background-color: var(--tablist-black);
  font-family: open_sansregular, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.outer-wrapper {
  margin: auto;
}

.wrapper {
  max-width: 90em;
  position: relative;
}

main {
  background-color: var(--globalWhite);
  padding: 1em 2em;
  padding-top: 2.5em;
}

main:focus {
  outline: none;
}

.left-aside {
  padding: 1em;
}

.wrapper > * {
  margin-bottom: 1em;
}

@media (min-width: 87.5em) {
  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .wrapper .left-aside {
    flex: 1 auto;
    max-width: 20em;
    position: relative;
  }

  .wrapper main {
    flex: 3 auto;
    padding: 1em;
  }
}

/**********************************************
    INTERNAL COMPONENTS LAYOUT
*************************************************/
header.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

header.flex-container .flex-item {
  color: var(--globalWhite);
  flex: 1 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

header.flex-container .flex-item:nth-child(1) {
  text-align: center;
}

header.flex-container .flex-item:nth-child(2) {
  font-size: 1.5rem;
  text-align: center;
}

header.flex-container .flex-item a,
header.flex-container .flex-item a:link,
header.flex-container .flex-item a:visited {
  background: none;
}

main .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  min-height: 30em;
}

main .flex-container .flex-item {
  background-color: transparent;
  margin: 0;
  padding: 1em 0;
}

main .flex-container .flex-item:nth-child(1) {
  border-bottom: 2px dotted var(--whatsock-blue);
  border-top: 2px dotted var(--whatsock-blue);
  flex: 1 auto;
}

main .flex-container .flex-item:nth-child(1) a img {
  max-width: 7em;
}

main .flex-container .flex-item:nth-child(2) {
  flex: 1 auto;
}

@media (min-width: 70em) {
  header.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  header.flex-container .flex-item {
    flex: 1 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5em 0;
  }

  header.flex-container .flex-item:nth-child(1) {
    padding-right: 0.5em;
    text-align: right;
  }

  header.flex-container .flex-item:nth-child(1) a img {
    max-width: 6em;
  }

  header.flex-container .flex-item:nth-child(2) {
    font-size: 2rem;
    text-align: inherit;
  }

  main .flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: auto;
    min-height: 30em;
  }

  main .flex-container .flex-item:nth-child(1) {
    position: relative;
    max-width: 40em;
  }

  main .flex-container .flex-item:nth-child(2) {
    max-width: 30em;
  }
}
/**********************************************
    INTERNAL COMPONENTS LAYOUT FOR GRID
*************************************************/

main .flex-container.le-grid {
  flex-flow: row wrap;
}

main .flex-container.le-grid .flex-item {
  flex: 100%;
  max-width: inherit;
}

main .flex-container.le-grid .flex-item:nth-child(2) {
  padding-top: 3em;
}

/**********************************************
    INTERNAL COMPONENTS Typography
*************************************************/
main .flex-container .flex-item.keyboard h2:first-child {
  margin-bottom: 2em;
  padding-left: 4em;
  position: relative;
}

main .flex-container .flex-item.keyboard h2:first-child::before {
  background: url(../img/keyboard.svg) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  left: 0;
  top: -22px;
}

/**********************************************
    Common Accordion styles
*************************************************/
.aria-accordion h2 {
  font-size: inherit;
  margin-bottom: 1px;
  position: relative;
}

.aria-accordion-trigger {
  background: url(../img/accordion/sprite.svg) right 0.5em top 0.5em no-repeat;
  background-color: var(--whatsock-blue);
  color: var(--bodyText);
  text-align: left;
  font-size: 1em;
  padding: 0.5em 0.6em;
  text-transform: uppercase;
  width: 100%;
}

.aria-accordion-trigger:hover,
.aria-accordion-trigger:focus {
  background-color: var(--acordDarkGreen);
  color: var(--globalWhite);
}

.aria-accordion-trigger[aria-expanded="true"] {
  background-position-y: -7.2em;
}

.aria-accordion .insertContent {
  background: var(--globalWhite);
}

.aria-accordion .content {
  padding: 1em;
}
#accordion-sect1,
#accordion-sect2,
#accordion-sect3 {
  padding: 0.5em;
}

/**********************************************
   FOOTER
*************************************************/
footer {
  margin: 1rem 0 2rem;
  text-align: center;
}

footer p:last-child {
  font-size: 0.7em;
  margin-top: 0.5em;
  color: var(--combobox-lightGrey2);
}

footer p:last-child a,
footer p:last-child a:link {
  text-decoration: underline;
  color: var(--globalWhite);
  background: transparent none repeat scroll 0% 0%;
}

ul.policies li {
  display: inline-block;
  position: relative;
  list-style-type: none;
}

ul.policies li::after {
  position: absolute;
  top: 0.7em;
  right: -0.35em;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background: var(--datepicker-day);
  border-radius: 5px;
}

ul.policies li:last-child::after {
  content: none;
}

footer button {
  color: var(--globalWhite);
  background: transparent;
  border: none;
}
/**********************************************
    INTERNAL COMPONENTS COMMON
*************************************************/
main .note {
  border-top: 1px dotted var(--whatsock-black);
  padding-top: 1em;
  margin-top: 2em;
  max-width: 42em;
}

img {
  max-width: 100%;
}
/**********************************************
    KEYBOARD
*************************************************/
.keyboard ul {
  list-style: disc;
}

.keyboard p:first-child {
  padding-left: 3em;
}
/**********************************************
   OTHER: hidden offscreen etc.
*************************************************/
[hidden],
.hidden {
  display: none;
}

/***********************************
===================================
IE11 fallback
===================================
***********************************/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    background-color: #2e3135;
  }
  main {
    background-color: #fff;
  }

  header.flex-container .flex-item {
    color: #fff;
  }

  main .flex-container .flex-item:nth-child(1) {
    border-bottom: 2px dotted #63b7c2;
    border-top: 2px dotted #63b7c2;
  }

  footer p:last-child {
    color: #e0e0e0;
  }

  footer p:last-child a,
  footer p:last-child a:link {
    color: #fff;
  }

  ul.policies li::after {
    background: #e2a037;
  }

  footer button {
    color: #fff;
  }

/**********************************************
    Common Accordion styles
*************************************************/
  .aria-accordion-trigger {
    background-color: #63b7c2;
    color: #262626;
  }

  .aria-accordion-trigger:hover,
  .aria-accordion-trigger:focus {
    background-color: #24575b;
    color: #fff;
  }

  .aria-accordion .insertContent {
    background: #fff;
  }
}