/* --------------------------------------------------------------------------- */
/* ---------------------------------- FORMS ---------------------------------- */
/* --------------------------------------------------------------------------- */

/* For Fastclick: Disable certain interactions on touch devices 
  Laurence: I have no idea what tis actually does never seen it before.
*/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

form p + p {
  margin-top: 1em;
}

fieldset {
  margin-bottom: 2em;
  position: relative;
}

legend {
  font-family: frutiger, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}

label {
  font-weight: 700;
  margin-right: 0.5em;
  padding-bottom: 0.1em;
}

input {
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  font-size: 100%;
  padding: 0.5em 1em;
}
input[placeholder] {
  font-size: 0.85rem;
}
.mandatory-info {
  text-align: right;
}

.buttons-bar {
  text-align: center;
  margin: 2em 0 0;
}
.buttons-bar input {
  margin: 0 0.5em;
}

.buttons-bar button {
  text-transform: uppercase;
  color: #fff;
  background: #286278;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  transition: border-radius;
  -webkit-transition: border-radius;
}

input[type="submit"],
input[type="reset"] {
  text-transform: uppercase;
  color: #fff;
  background: #49182e;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
input[type="reset"] {
  color: #fff;
  background: #555;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  color: #fff;
  background: #286278;
  box-shadow: none;
}

input[type="submit"]:focus {
  background: #f60;
}

/*********************************
  Combobox
*********************************/
.select--container {
  position: relative;
}
.form--container {
  border-radius: 3px;
  list-style-type: none;
  max-width: 38em;
  padding: 0;
}

.form--container p {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0.5em;
}

.form--container p label {
  flex: 1;
  min-width: 10em;
  padding: 0.5em 1em 0.5em 0;
}

.form--container p input {
  flex: 3;
  min-width: 13em;
  padding: 0.5em;
}
@media (min-width: 33em) {
  .form--container p input {
    min-width: 15em;
  }
}

.form--container p input[type="submit"] {
  border-radius: 0.5em;
  flex: none;
  min-width: 6em;
}
.form--container p img {
  margin: auto;
}

ul.listbox {
  position: relative;
  overflow-y: scroll;
  margin-left: 0;
  height: 10em;
  background-color: var(--globalWhite);
}
#ctryIcon,
#mobileCloseIcon {
  height: 25px;
  width: auto;
  padding-left: 0.5em;
  margin: auto;
}
#ctryIcon {
  float: right;
}
#mobileCloseIcon {
  vertical-align: middle;
}

li.option {
  margin-bottom: 0.3em;
  padding-right: 1em;
}

li.option a,
li.option a:visited {
  text-decoration: none;
  color: var(--bodyText);
  padding: 0.3em;
}

li.option a:hover,
li.option a:focus,
li.option.active a,
li.option.active a:visited {
  color: var(--globalWhite);
  background: var(--elementBlack);
}

li[role="option"][aria-checked="false"] {
  background: url("../img/unchecked.svg");
  background-repeat: no-repeat;
  background-position: right;
}

li[role="option"][aria-checked="true"] {
  background: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: right;
}
div.toplevel-div {
  border: 1px solid var(--listbox-darkGrey);
  position: absolute;
  -webkit-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  -moz-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  padding: 0.3em;
  padding-bottom: 0;
  padding-right: 0;
  z-index: 1;
}

#frm p {
  display: inline;
}
span[role="combobox"][aria-expanded="false"] sup:before {
  content: "\2193";
}

span[role="combobox"][aria-expanded="true"] sup:before {
  content: "\2191";
}

.button span {
  font-weight: bold;
}
/*********************************
  Date picker
*********************************/
.dateField {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
}
.dateField .dateField--flex-item {
  display: flex;
  align-items: center;
  position: relative;
}
.accCalendar {
  background: none;
  border: none;
}
#datepicker-demo {
  background: var(--combobox-lightGrey2);
  padding: 1em;
  margin: 1em 0 2em;
}

#datepicker-demo em {
  display: block;
  font-size: 90%;
}
a.accCalendar {
  display: inline-block;
  background: transparent;
}

div.calendar {
  text-align: center;
  color: var(--globalWhite);
  background: var(--elementBlack);
  padding: 0.5em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  -moz-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  position: absolute;
  left: 4em;
  top: 3em;
  z-index: 10;
}

table.calendar {
  border-collapse: separate;
  border-spacing: 1px;
}

table.calendar td,
table.calendar th {
  padding: 0.3em 0.5em;
  border-radius: 0.15em;
}

td.empty {
  background: rgba(255, 255, 255, 0.07);
}

th.week {
}

td.nav,
td.day {
}

td.day {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: var(--bodyText);
  background: var(--whatsock-blue);
}

td.dayToday {
  color: var(--bodyText);
  background: var(--datepicker-pink);
}

td.dayInPrevMonth,
td.dayInNextMonth {
  color: var(--bodyText);
  background: var(--datepicker-dayInMonth);
}

td.day:hover {
  background: var(--datepicker-day);
}

td[aria-current="date"] {
  background: var(--datepicker-day);
}

div.calendar *:focus,
div.commentAdd *:focus {
  outline: blue 2px inset;
}

td.month {
  font-weight: 600;
  color: var(--whatsock-blue);
  text-shadow: 0 1px 0 var(--bodyText);
}

td.comment {
  position: relative;
}
td.comment span::after {
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 0.2em;
  right: 0.2em;
  content: "";
  background: var(--datepicker-darkGrey);
  border-radius: 7px;
}

td.comment.selected {
  background: var(--datepicker-day);
}

td.disabled,
td.disabled:hover {
  color: var(--datepicker-lightGrey);
  background: var(--datepicker-lmGrey);
}

td.disabled.selected {
  background: var(--datepicker-mmGrey);
}

div.commentTooltip {
  width: 271px;
  padding: 0.5em;
  color: var(--globalWhite);
  background: var(--datepicket-dGrey);
  font-size: 0.8em;
  font-weight: bold;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  text-align: left;
}

div.commentAdd {
  background: var(--elementBlack);
  border-radius: 0.3em;
  top: 22.9em;
  z-index: 10;
}

div.commentAdd button {
  text-transform: uppercase;
  color: var(--globalWhite);
  background: var(--elementBlack);
  padding: 0.5em;
  margin-top: -5px;
  border: none;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  -webkit-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  -moz-box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
  box-shadow: 0 10px 6px -6px var(--combobox-midGrey);
}

div.commentAdd textarea {
  width: 270px;
  height: 2em;
  overflow: auto;
  word-wrap: break-word;
  text-align: left;
  padding: 0.2em;
  margin: 0.5em 0.5em 0;
}
div.monthMessage {
  padding-top: 0.5em;
}
div.monthMessage p {
  font-size: 0.8rem;
  margin-bottom: 0;
}
/*********************************
  Listbox
*********************************/
.sample {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
}
/*********************************
  Popups
*********************************/
.container--popup {
  padding:0.25em;
}
.container--popup .popupClose {
  background: transparent;
  border: none;
  position: absolute;
  right: 0.25em;
  top: 0.5em;
}
/*********************************
  Laurence: arrow key navigation date pickers #keyboardHint
*********************************/
.keyboard ul li {
  line-height: 1.8;
}
kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  color: #333;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0 0.5em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}
kbd[class]::before {
  display: inline-block;
  line-height: 1;
  padding: 0 0.3em 0.2em;
  margin-right: 0.5em;
  border: 2px solid var(--elementBlack);
  border-radius: 2px;
  vertical-align: top;
}
kbd.left::before {
  content: "\2190";
}
kbd.right::before {
  content: "\2192";
}
kbd.up::before {
  content: "\2191";
}
kbd.down::before {
  content: "\2193";
}
kbd.home::before {
  content: "\21E4";
}
kbd.end::before {
  content: "\21E5";
}
kbd.esc::before {
  content: "\238B";
}
kbd#keyboardHint {
  background: none;
  border: none;
  box-shadow: none;
  position: absolute;
  right: -2.3em;
  top: 0.6em;
}
button.esc-button {
  position: relative;
  text-transform: uppercase;
  background: var(--globalWhite);
  font-weight: 700;
  padding: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  width: 5em;
  margin-top: 0.25em;
}
button.esc-button:focus {
  border: 2px solid var(--whatsock-contrast-red);
}
div.description {
  border: 2px solid var(--whatsock-blue);
  border-radius: 0.5em;
  margin-bottom: 3em;
  padding: 0.5em;
}
div.description p {
  margin-bottom: 0.5em;
}
div.description code {
  color: var(--bodyText);
  background: var(--datepicker-codeBGrey);
  display: block;
  font-size: 0.875rem;
  padding: 0.5em;
}
/*********************************
  Buttons Native
*********************************/
/*Red button for select languages*/

span[role="combobox"] {
  display: inline-block;
  line-height: 1.6em;
  color: #fff;
  background: #c1384d url(../img/sprite.svg) right -1686px no-repeat;
  padding: 0.3em 25px 0.3em 0.5em;
  margin-right: 2em;
  border-radius: 0.3em;
}
button[type="reset"],
button[type="button"],
button.btn--set--alert {
  text-transform: uppercase;
  color: #fff;
  background: #49182e;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  padding: 0.5em 1em;
  margin: 1em 0.5em 0;
}
button[type="reset"]:hover,
button[type="button"]:hover,
button.btn--set--alert:hover,
button[type="reset"]:focus,
button[type="button"]:focus,
button.btn--set--alert:hover {
  color: #fff;
  background: #286278;
  box-shadow: none;
}
