main ul {
  margin-left: 3em;
}

main ul li {
  line-height: 1.5;
}

main p {
  margin-bottom: 1.5em;
}

h1 {
  font-family: antonregular, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 1.5em;
}

h1 strong {
  color: #c13836;
  font-weight: 400;
  top: 0.2em;
}

h1.pageTitle {
  font-family: Frutiger, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--whatsock-red);
  margin: 0 0 1em;
}

h1.pageTitle small {
  display: block;
  font-size: 1.2rem;
}

h2 {
  color: #c13836;
  /*font-family: antonregular, Helvetica, Arial, sans-serif;*/
  font-family: Frutiger, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.2em;
}

h3 {
  /*font: normal 1.8em/1.3 antonregular, Helvetica, Arial, sans-serif;*/
  font-family: Frutiger, Helvetica, Arial, sans-serif;
  color: var(--tablist-black);
  margin: 1.5em 0 0.5em;
}

h4 {
  font: normal 1.3em/1.3 open_sansbold, Helvetica, Arial, sans-serif;
  color: var(--tablist-black);
  margin: 1.5em 0 0.5em;
}

h5 {
  font: normal 1em/1.3 open_sansbold, Helvetica, Arial, sans-serif;
  color: var(--tablist-black);
  margin: 1.5em 0 0.5em;
}

li li {
  font-size: 100%;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #000;
  background: #f2d3a1;
}

a:hover {
  text-decoration: underline;
  background: transparent;
}

*:focus {
  color: #000;
  background: #fc0;
}

a.permalink,
a.permalink:link,
a.permalink:visited {
  position: relative;
  top: -4.5rem;
  left: -1.5rem !important;
}

em {
  font-family: open_sansitalic, Helvetica, Arial, sans-serif;
  font-style: normal;
}

strong {
  font-family: open_sansbold, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

button {
  font-family: open_sansregular, Helvetica, Arial, sans-serif;
}

code.block {
  display: block;
  color: #000;
  background: #e4e4e4;
  padding: 1rem;
  margin: 1rem 0;
}

code.js,
code.html,
code.css {
  display: inline;
}
/*****************************************************************************
 Styled simulated keyboard button
******************************************************************************/
kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  color: #333;
  display: inline-block;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}
