/**********************************************
Common Combobox Colours - update in colors.css
*************************************************/
/*
--globalWhite: #ffffff;
*/

/**********************************************
Common Button styles
*************************************************/

/***Overwrite the auto positioning***/

ul.listbox {
  position: relative;
  overflow-y: scroll;
  margin-left: 0;
  height: 10em;
}
.form--container p.select--container--wordmatch label {
  flex: 1;
  min-width: 10em;
  padding: 0;
}
.form--container .select--container--wordmatch input {
  flex: 3;
  min-width: 13em;
  padding: 0.5em;
}
@media (min-width: 33em) {
  .form--container .select--container--wordmatch input {
    min-width: 15em;
  }
}
.form--container.wordmatch .toplevel-div {
  background-color: var(--globalWhite);
  top: 36px;
  left: 124px;
}
@media (min-width: 31.6em) {
  .form--container.wordmatch .toplevel-div {
    top: 36px;
    left: 152px;
  }
}
