/* Specific styles for ARIA Listboxes */

.standardWrapper {
  position: relative;
  padding-top: 1.6em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.selectLabel {
  max-width: 200px;
  -webkit-flex: 0 1 70%;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
  margin-left: 5%;
}
.selectLabel label {
  padding-bottom: 0.8em;
}
#standardSelectId {
  width: 100%;
  min-height: 85%;
  padding: 0.5em;
}

#listboxId {
  padding: 0;
  margin: 0;
  list-style: none;
}

#listboxId > li {
  padding: 3px;
}

#listboxId > li > [role="option"] {
  display: block;
  text-decoration: none;
  padding: 0.3em 0.5em;
}

#listboxId > li > [role="option"].selected {
}

#listboxId > li > [role="option"] > span {
  display: block;
}

.desc {
  clear: both;
}
