/* Specific styles for ARIA Listboxes */

#listboxId {
  list-style-type:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:0;
}
#listboxId > li {
  margin-bottom:0.25em;
  position:relative;
}
#listboxId > li > [role="option"] {
  border:none;
  width:3em;
  height: 3em;
}
#listboxId [role="option"] .lbl {
  position:absolute;
  left: 0;
  width:100%;
  top:0.8em;
  width:10em;
}

#listboxId [role="option"][aria-selected="true"],
#listboxId [role="option"]:hover,
#listboxId [role="option"]:focus {
  background: #92dbf6;
}

#listboxId [role="option"][aria-checked="false"] {
  background: url("../img/unchecked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#listboxId [role="option"][aria-checked="mixed"] {
  background: url("../img/indeterminate.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#listboxId [role="option"][aria-checked="true"] {
  background: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}