<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Multiselect Listbox - Apex 4X Technical Style Guide</title>
    <meta name="description" content="Scalable ARIA Components">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../_common/css/components-style.css">
    <link rel="stylesheet" type="text/css" href="css/customize.css">
    <script src="/4X/4X.js"></script>
    <script src="js/setup.js"></script>
</head>

<body>
    <div class="bypass">
        <ul class="list-unstyled">
            <li>
                <a class="skip--link" href="javascript:void(0);" onclick="document.getElementById('main').focus();">
                    Skip to Main Content
                </a>
            </li>
        </ul>
    </div>
    <div class="outer-wrapper">
        <header class="header flex-container">
            <div class="logo flex-item">
                <a href="http://whatsock.com">
                    <img alt="WhatSock : Changing the world one step at a time" src="../../_common/img/whatsock.svg"></a>
            </div>
            <div class="site-name flex-item">
                <strong>Apex 4X</strong> Technical Style Guide
            </div>
        </header>
        <div class="wrapper">
            <div class="left-aside">
                <nav>
                    <ul>
                        <li><a href="../../index.htm">Components</a></li>
                        <li><a href="../Checkable/index.htm">Checkable</a></li>
                        <li><a href="index.htm" aria-current="page">Multiselect</a></li>
                        <li><a href="../Sortable/index.htm">Sortable</a></li>
                        <li><a href="../Standard/index.htm">Standard</a></li>
                    </ul>
                </nav>
            </div>
            <main id="main" class="main" tabindex="-1">
                <div class="demo-block flex-container">
                    <div class="component flex-item">
                        <h1 class="pageTitle" id="multiselectLbl1">Keyboard Accessible ARIA Multiselect Listbox</h1>


                        <div class="sample">

                            <div class="multiselectWrapper">
                                <ul id="listboxId" class="aria-listbox"></ul>
                            </div>

                            <div class="selectLabel">
                                <label for="standardSelectId">Multiselect field</label>
                                <select multiple size="5" id="standardSelectId" name="stuff">
                                    <option value="multiselectOpt1">Apple</option>
                                    <option value="multiselectOpt2">Grape</option>
                                    <option value="multiselectOpt3">Banana</option>
                                    <option value="multiselectOpt4">Orange</option>
                                    <option value="multiselectOpt5">Shoe</option>
                                </select>
                            </div>

                        </div>

                        <div class="note">
                            <p>The ARIA Multiselect Listbox and standard Select element mirror each other.</p>
                        </div>

                    </div>
                    <div class="keyboard flex-item">
                        <h2>The Listbox is keyboard accessible:</h2>
                        <ul>
                            <li>Set focus on the Listbox or the Select field.</li>
                            <li>Press the Arrow keys to change options, or press <kbd class="home">Home</kbd> or <kbd class="end">End</kbd> to jump to the beginning or end of the list.</li>
                            <li>Press <kbd>PageUp</kbd> or <kbd>PageDown</kbd> to jump backward or forward incrementally.</li>
                            <li>Press any letter or number to jump to an item starting with that character or digit.</li>
                            <li>Press the <kbd>Spacebar</kbd> to toggle checkability on the ARIA Listbox.</li>
                            <li>In IE, press <kbd>Shift</kbd>+<kbd>F8</kbd> on the standard Select field to select non-contiguous items using the <kbd>Spacebar</kbd>.</li>
                            <li>in Firefox, hold down the <kbd>Control</kbd> key and use the Arrows on the standard Select field to select non-contiguous items using the Spacebar.</li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
        <footer class="footer">
            <p class="copyright">&copy;<script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> WhatSock. All rights reserved.</p>
            <p>Visual design by <a href="http://gericci.me/">Angela Ricci</a>. Styling updated by Laurence Lewis October 2020</p>
        </footer>
    </div>
</body>

</html>