/* Specific styles for ARIA Menus */

button.aria-menu {
  font-size: 100%;
  text-transform: uppercase;
  color: #fff;
  background: #286278 url(../img/sprite.svg) right -290px no-repeat;
  padding: 0.3em 36px 0.3em 0.5em;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  cursor: pointer;
}
button.aria-menu:hover,
button.aria-menu:focus {
  color: #fff;
  background-color: #c13836;
  box-shadow: none;
  border-radius: 0;
}

ul.top.menu {
  background: #2e3135;
  margin: 2em 0 0;
}

ul.top.menu > li {
  text-transform: uppercase;
}

ul.top.menu > li li {
  font-size: 100%;
}

ul.menu {
  width: 10em;
  list-style: none;
  margin-left: 11em;
}

ul.top.menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #2e3135;
  padding: 0.3em 0.8em;
}

ul.top.menu a.has-submenu {
  color: #fff;
  background: #2e3135 url(../img/sprite.svg) right -288px no-repeat;
  padding: 0.3em 36px 0.3em 0.8em;
}

ul.top.menu a:focus,
ul.top.menu a:hover,
ul.top.menu a.has-submenu:hover,
ul.top.menu a.has-submenu:focus {
  color: #fff;
  background-color: #c13836;
}

ul.top.menu a.has-submenu {
  background: #2e3135 url(../img/sprite.svg) right -288px no-repeat;
  padding: 0.3em 36px 0.3em 0.8em;
}

a[aria-disabled="true"] {
  color: #ccc;
  background: #bdbdbd;
  cursor: auto;
}
