<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Apex 4X Technical Style Guide</title>
    <meta name="description" content="Scalable ARIA Components">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="_common/_doc_files/css/global.css">
</head>

<body>
    <div class="outer-wrapper">
        <header class="header">
            <div class="logo">
                <a href="http://whatsock.com">
                    <img alt="WhatSock : Changing the world one step at a time" src="/Templates/_common/img/whatsock.svg">
                </a>
            </div>
            <nav class="navigation--parent">
                <ul>
                    <li><a href="Accordions/index.htm">Accordions</a></li>
                    <li><a href="Buttons/index.htm">Buttons</a></li>
                    <li><a href="Checkboxes/index.htm">Checkboxes</a></li>
                    <li><a href="Comboboxes/index.htm">Comboboxes</a></li>
                    <li><a href="Datepickers/index.htm">Datepickers</a></li>
                    <li><a href="Dialogs/index.htm">Dialogs</a></li>
                    <li><a href="Drag/index.htm">Drag and Drop</a></li>
                    <li><a href="Footnotes/index.htm">Footnotes</a></li>
                    <li><a href="Grids/index.htm">Grids</a></li>
                    <li><a href="Listboxes/index.htm">Listboxes</a></li>
                    <li><a href="Menus/index.htm">Menus</a></li>
                    <li><a href="Popups/index.htm">Popups</a></li>
                    <li><a href="Radios/index.htm">Radios</a></li>
                    <li><a href="Sliders/index.htm">Sliders</a></li>
                    <li><a href="Switches/index.htm">Switches</a></li>
                    <li><a href="Tabs/index.htm">Tabs</a></li>
                    <li><a href="Tooltips/index.htm">Tooltips</a></li>
                    <li><a href="Trees/index.htm">Trees</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <main id="main" class="main">
                <h1><strong>Widget Templates</strong> </h1>
                <div>
                    <p class="dark--bg">
                        All available ARIA widget templates are available for immediate use. None require any prior knowledge of ARIA to implement.
                    </p>
                </div>
            </main>
        </div>
        <footer class="footer">
            <div class="flex-container-row">
                <div class="flex-item">
                    <h2>License</h2>
                    <p>
                        Apex 4X including all template design patterns is distributed under the terms of the Open Source Initiative OSI - MIT License, and may be freely used for any purpose within any web technology.
                    </p>
                </div>
                <div class="flex-item">
                    <h2>Resources</h2>
                    <ul>
                        <li>
                            <a target="ext" href="https://github.com/WhatSock/apex">Apex 4X on GitHub</a>
                        </li>
                        <li>
                            <a target="ext" href="http://whatsock.com/training/matrices/visual-aria.htm">Visual ARIA Bookmarklet</a>
                        </li>
                        <li>
                            <a target="ext" href="https://chrome.google.com/webstore/detail/visual-aria/lhbmajchkkmakajkjenkchhnhbadmhmk">Visual ARIA Chrome Extension</a>
                        </li>
                        <li>
                            <a target="ext" href="https://addons.mozilla.org/en-US/firefox/addon/visual-aria/">Visual ARIA Firefox Extension</a>
                        </li>
                        <li>
                            <a target="ext" href="https://github.com/AccDC/visual-aria">Visual ARIA on GitHub</a>
                        </li>
                        <li>
                            <a target="ext" href="http://whatsock.com/training/matrices/">ARIA Role Conformance Matrices</a>
                        </li>
                        <li>
                            <a target="ext" href="http://whatsock.com/training/">Accessibility Tree Training Guide</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-item">
                    <h2>Acknowledgements</h2>
                    <ul class="list--horizontal">
                        <li>
                            Author and developer:
                            <a target="ext" href="https://www.linkedin.com/in/bgaraventa">Bryan Garaventa</a>
                        </li>
                        <li>
                            Website designer:
                            <a target="ext" href="http://gericci.me/">Angela Ricci</a>
                        </li>
                        <li>
                            Style and markup editor:
                            <a target="ext" href="https://www.linkedin.com/in/laurence-lewis-77520365/">Laurence Lewis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>