<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Simulated Textbox Menu (Right-Click) - 4X Technical Style Guide</title>
    <meta name="description" content="Scalable ARIA Components">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../_common/css/components-style.css">
    <link rel="stylesheet" type="text/css" href="css/customize.css">
    <script src="/4X/4X.js"></script>
    <script src="js/setup.js"></script>
</head>

<body>
    <div class="bypass">
        <ul class="list-unstyled">
            <li>
                <a class="skip--link" href="javascript:void(0);" onclick="document.getElementById('main').focus();">
                    Skip to Main Content
                </a>
            </li>
        </ul>
    </div>
    <div class="outer-wrapper">
        <header class="header flex-container">
            <div class="logo flex-item">
                <a href="http://whatsock.com">
                    <img alt="WhatSock : Changing the world one step at a time" src="../../_common/img/whatsock.svg"></a>
            </div>
            <div class="site-name flex-item">
                <strong>Apex 4X</strong> Technical Style Guide
            </div>
        </header>
        <div class="wrapper">
            <div class="left-aside">
                <nav>
                    <ul>
                        <li><a href="../../index.htm">Components</a></li>
                        <li><a href="../External/index.htm">External</a></li>
                        <li><a href="../External - Straylight/index.htm">External - Straylight</a></li>
                        <li><a href="../Internal/index.htm">Internal</a></li>
                        <li><a href="../Internal - Straylight/index.htm">Internal - Straylight</a></li>
                        <li><a href="../Simulated Textbox (Right-Click)/index.htm" aria-current="page">Simulated Textbox (Right-Click)</a></li>
                    </ul>
                </nav>
            </div>
            <main id="main" class="main" tabindex="-1">
                <div class="demo-block flex-container">
                    <div class="component flex-item">
                        <h1 class="pageTitle">Simulated Textbox Menu <small>Right-Click</small></h1>
                        <h2 id="titleId">Blackboard</h2>
                        <section>
                            <p class="root">

                                <div data-menu="settings-menu" class="blackboard" id="blackboardId" tabindex="0" contenteditable="true" role="textbox" aria-multiline="true" aria-labelledby="titleId"></div>

                                <ul hidden class="top menu" id="settings-menu">
                                    <li><a href="#" class="has-submenu">Profile</a>
                                        <ul hidden class="menu">
                                            <li><a href="#" class="has-submenu">Personal</a>
                                                <ul hidden class="menu">
                                                    <li><a href="#" class="link" id="personal-name">Name</a></li>
                                                    <li><a href="#" class="link" id="personal-interests">Interests</a></li>
                                                    <li><a href="#" class="link" id="personal-education">Education</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" class="has-submenu">Business</a>
                                                <ul hidden class="menu">
                                                    <li><a href="#" class="link" id="business-name">Name</a></li>
                                                    <li><a href="#" class="link" id="business-contact">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="has-submenu">Checkable Options</a>
                                        <ul hidden class="menu">
                                            <li><a data-check href="#" class="link" id="settings-editor">Editor</a></li>
                                            <li><a data-check="true" href="#" class="link" id="settings-cookies">Cookies</a></li>
                                            <li><a data-check="mixed" href="#" class="link" id="settings-toolbar">Toolbar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="has-submenu">Radio Options</a>
                                        <ul hidden class="menu">
                                            <li><a data-radio href="#" class="link" id="account-username">Username</a></li>
                                            <li><a data-radio="true" href="#" class="link" id="account-password">Password</a></li>
                                        </ul>
                                    </li>
                                    <li><a aria-disabled="true" title="Disabled" href="#" class="has-submenu">Services</a>
                                        <ul hidden class="menu">
                                            <li><a href="#" class="link" id="services-campaigns">Campaigns</a></li>
                                            <li><a href="#" class="link" id="services-payments">Payments</a></li>
                                        </ul>
                                    </li>
                                    <li><a aria-disabled="true" href="#" class="link" id="properties">Properties...</a></li>
                                    <li><a href="https://google.com/" class="link" id="help">Help...</a></li>
                                </ul>

                            </p>
                        </section>
                    </div>
                    <div class="keyboard flex-item">
                        <h2>The menu is optimized for screen reader and keyboard only users:</h2>
                        <ul>
                            <li>Set focus to the edit field.</li>
                            <li>Activate the menu using the keyboard by pressing Shift+F10 or the Applications key.</li>
                            <li>Press the <kbd class="up">Up</kbd> and <kbd class="down">Down</kbd> Arrow keys to move focus between the menu options.</li>
                            <li>Press the <kbd class="left">Left</kbd> and <kbd class="right">Right</kbd> Arrow keys to open or close submenus.</li>
                            <li>Press any letter or number to jump to a menu item starting with that character or digit.</li>
                            <li>Press <kbd>Enter</kbd> to activate a menu option.</li>
                            <li>Press <kbd>Escape</kbd> to close the currently open menu.</li>
                            <li>Press <kbd>Tab</kbd> or set focus back on the triggering element to close the menu and all submenus.</li>
                            <li>Mouse users can right-click the edit field and click the desired menu option as usual.</li>
                        </ul>
                    </div>
                </div>

            </main>
        </div>
        <footer class="footer">
            <div class="flex-container-row">
                <div class="flex-item">
                    <h2>License</h2>
                    <p>
                        Apex 4X including all template design patterns is distributed under the terms of the Open Source Initiative OSI - MIT License, and may be freely used for any purpose within any web technology.
                    </p>
                </div>
                <div class="flex-item">
                    <h2>Resources</h2>
                    <ul>
                        <li>
                            <a target="github" href="https://github.com/WhatSock/apex">Apex 4X on GitHub</a>
                        </li>
                        <li>
                            <a target="github" href="https://accdc.github.io/visual-aria/github-bookmarklet/visual-aria.htm">Visual ARIA Bookmarklet</a>
                        </li>
                        <li>
                            <a target="github" href="https://chrome.google.com/webstore/detail/visual-aria/lhbmajchkkmakajkjenkchhnhbadmhmk">Chrome Plugin</a>
                        </li>
                        <li>
                            <a target="github" href="https://addons.mozilla.org/en-US/firefox/addon/visual-aria/">Firefox Plugin</a>
                        </li>
                        <li>
                            <a target="github" href="https://github.com/AccDC/visual-aria">On GitHub</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-item">
                    <h2>Acknowledgements</h2>
                    <ul class="list--horizontal">
                        <li>
                            Author and developer:
                            <a target="github" href="https://www.linkedin.com/in/bgaraventa">Bryan Garaventa</a>
                        </li>
                        <li>
                            Website designer:
                            <a target="github" href="http://gericci.me/">Angela Ricci</a>
                        </li>
                        <li>
                            Style and markup editor:
                            <a target="github" href="https://www.linkedin.com/in/laurence-lewis-77520365/">Laurence Lewis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>