/* Specific styles for ARIA Sliders */

table.sample td {
  vertical-align: middle;
}

.slider.wrapper {
  margin-right: 4rem;
}

.slider.button {
  text-align: center;
}

.slider.button b {
  display: block;
  padding: 0.5rem 0;
}

.slider.bar {
  position: relative;
  height: 348px;
  width: 46px;
}
.slider.bar::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 0.1em;
  height: 100%;
  background: #ccc;
}

.slider.handle {
  width: 46px;
  height: 46px;
  cursor: pointer;
  background: url(../img/sprite.svg) 10px 47px;
  background-repeat: repeat-y;
}
