<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Standard ARIA Listbox (Straylight Internal Content) - Apex 4X Technical Style Guide</title>
    <meta name="description" content="Scalable ARIA Components">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../_common/css/components-style.css">
    <link rel="stylesheet" type="text/css" href="css/customize.css">
    <script async src="/4X/4X.js#Straylight"></script>
</head>

<body>
    <div class="bypass">
        <ul class="list-unstyled">
            <li>
                <a class="skip--link" href="javascript:void(0);" onclick="document.getElementById('main').focus();">
                    Skip to Main Content
                </a>
            </li>
        </ul>
    </div>
    <div class="outer-wrapper">
        <header class="header flex-container">
            <div class="logo flex-item">
                <a href="http://whatsock.com">
                    <img alt="WhatSock : Changing the world one step at a time" src="../../_common/img/whatsock.svg"></a>
            </div>
            <div class="site-name flex-item">
                <strong>Apex 4X</strong> Technical Style Guide
            </div>
        </header>
        <div class="wrapper">
            <div class="left-aside">
                <nav>
                    <ul>
                        aria-current="page"
                        <nav>
                            <ul>
                                <li><a href="../../index.htm">Components</a></li>
                                <li><a href="../Checkable/index.htm">Checkable</a></li>
                                <li><a href="../Multiselect/index.htm">Multiselect</a></li>
                                <li><a href="../Sortable/index.htm">Sortable</a></li>
                                <li><a href="../Standard/index.htm">Standard</a></li>
                                <li><a href="Standard%20-%20Straylight/index.htm" aria-current="page">Standard - Straylight</a></li>
                            </ul>
                        </nav>
                    </ul>
                </nav>
            </div>
            <main id="main" class="main" tabindex="-1">
                <div class="demo-block flex-container">
                    <div class="component flex-item">
                        <h1 class="pageTitle">ARIA Listbox <small>(Straylight Internal Content)</small></h1>
                        <div class="sample">
                            <div class="standardWrapper">
                                <select hidden title="Choose one or the other" id="standardSelectId" class="aria-listbox-root">
                                    <option value="standardOpt1">One</option>
                                    <option value="standardOpt2">Two</option>
                                    <option value="standardOpt3">Three</option>
                                    <option value="standardOpt4">Four</option>
                                    <option value="standardOpt5">Five</option>
                                </select>
                            </div>
                        </div>
                        <div class="note">
                            <p>The ARIA Listbox and standard Select element mirror each other.</p>
                        </div>
                    </div>
                    <div class="keyboard flex-item">
                        <h2>The Listbox is keyboard accessible:</h2>
                        <ul>
                            <li>Set focus on the Listbox.</li>
                            <li>Press the Arrow keys to change options, or press <kbd class="home">Home</kbd> or <kbd class="end">End</kbd> to jump to the beginning or end of the list.</li>
                            <li>Press <kbd>PageUp</kbd> or <kbd>PageDown</kbd> to jump backward or forward incrementally.</li>
                            <li>Press any letter or number to jump to an item starting with that character or digit.</li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
        <footer class="footer">
            <p class="copyright">&copy;<script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> WhatSock. All rights reserved.</p>
            <p>Visual design by <a href="http://gericci.me/">Angela Ricci</a>. Styling updated by Laurence Lewis October 2020</p>
        </footer>
    </div>
</body>

</html>