/* Specific styles for Accessible Tooltip */
section {
  border: 1px dotted var(--whatsock-red);
  margin: 1em 0;
  padding: 0.5em;
}
div.error-tooltip {
  position: absolute;
  width: auto;
  color: var(--globalWhite);
  background: var(--whatsock-black);
  padding: 0.3em 0.5em;
  -webkit-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 var(--tooltip-boxshadow);
  -moz-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 var(--tooltip-boxshadow);
  box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 var(--tooltip-boxshadow);
  z-index: 100;
}

[role="tooltip"] p:last-child {
  margin-bottom: 0;
}
