/**********************************************
Common Button Colours - update in colors.css
*************************************************/
/*
--button-blueGrey: #286278;
--button-pink-dark: #49182e;
--globalWhite: #ffffff;
*/

/**********************************************
Common Button styles
*************************************************/

.aria-button.toggle {
  width: auto;
  text-transform: uppercase;
  color: #fff;
  background: var(--button-blueGrey);
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  transition: border-radius;
  -webkit-transition: border-radius;
  cursor: pointer;
}

.aria-button.toggle.pressed {
  text-decoration: none;
  color: var(--globalWhite);
  background: var(--button-pink-dark);
  box-shadow: none;
  border-radius: 0;
}
