/**********************************************
Common Combobox Colours - update in colors.css
*************************************************/
/*
--globalWhite: #ffffff;
*/

/**********************************************
Common Button styles
*************************************************/

/***Overwrite the auto positioning***/

ul.listbox {
  position: relative;
  overflow-y: scroll;
  margin-left: 0;
  height: 10em;
}

.simMulti--readonly {
  position: relative;
}

.simMulti--readonly .toplevel-div {
  background-color: var(--globalWhite);
  left: 0 !important;
  top: 177px !important;
  width: 17em;
}
