/**********************************************
Common Combobox Colours - update in colors.css
*************************************************/
/*
--globalWhite: #ffffff;
*/

/**********************************************
Common Button styles
*************************************************/

/***Overwrite the auto positioning***/

ul.listbox {
  position: relative;
  overflow-y: scroll;
  margin-left: 0;
  height: 10em;
}

div.toplevel-div {
  left: 0px !important;
  top: 60px !important;
  background: var(--globalWhite);
}

@media (min-width: 32.8em) {
  div.toplevel-div {
    left: 111px !important;
    top: 36px !important;
  }
}
