/* Specific styles for ARIA Combobox */
/***Overwrite the auto positioning***/

ul.listbox {
  position: relative;
  overflow-y: scroll;
  margin-left: 0;
  height: 10em;
}

div.toplevel-div {
  /* left: auto !important;
  right: 2.6em !important;
  top: 5.1em !important;
  width: 14.5em;
  min-width: 8em; */
  left: 0px !important;
  top: 60px !important;
  background: var(--globalWhite);
}

@media (min-width: 32.8em) {
  div.toplevel-div {
    /* left: auto !important;
    right: 2.6em !important;
    top: 2.9em !important; */
    left: 111px !important;
    top: 36px !important;
  }
}
